In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

%matplotlib inline

In [2]:
import os
db_path = os.path.join(os.pardir, 'churn.db')
conn = sqlite3.connect(db_path)

In [23]:
df = pd.read_sql_query("SELECT * FROM raw_churn;", conn)
print(f"Loaded {df.shape[0]} rows and {df.shape[1]} columns.")
df.head(10)

Loaded 0 rows and 19 columns.

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        0 non-null      object
 1   gender            0 non-null      object
 2   SeniorCitizen     0 non-null      object
 3   Partner           0 non-null      object
 4   tenure            0 non-null      object
 5   PhoneService      0 non-null      object
 6   MultipleLines     0 non-null      object
 7   InternetService   0 non-null      object
 8   OnlineSecurity    0 non-null      object
 9   OnlineBackup      0 non-null      object
 10  DeviceProtection  0 non-null      object
 11  TechSupport       0 non-null      object
 12  StreamingTV       0 non-null      object
 13  Contract          0 non-null      object
 14  PaperlessBilling  0 non-null      object
 15  PaymentMethod     0 non-null      object
 16  MonthlyCharges    0 non-null      object
 17  TotalCharges      0 non-null      int64
 18  Churn             0 non-null      object
 19  ChurnFlag         0 non-null      int64
dtypes: int64(2), object(18)
memory usage: 132.0+ bytes

In [19]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors = 'coerce')
df['TotalCharges'].dtype

dtype('int64')

In [18]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
ChurnFlag           0
dtype: int64

In [17]:
before_drop = df.shape[0]
df = df[df['TotalCharges'].notnull()].copy()
after_drop = df.shape[0]
print(f"Dropped {before_drop - after_drop} rows with missing TotalCharges.")

Dropped 0 rows with missing TotalCharges.

In [15]:
df['ChurnFlag'] = df['Churn'].map({'No':0, 'Yes':1})
df['ChurnFlag'].value_counts()

Series([], Name: count, dtype: int64)

In [21]:
df[['tenure','MonthlyCharges', 'TotalCharges']].describe().T

              count  mean  std  min  25%  50%  75%  max
TotalCharges    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN